body {
  padding: 0;
  width: 100%;
  margin-top: 0;
  margin-left:auto;
  margin-right:auto;
  background: url('../assets/background_full.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

input::placeholder {
  color: #5492b1;
}